<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="We are here to show the Non Muslims the real message of Islam which is Peace and Harmony, and why Mainstream media(MSM) always portray Islam and Muslims in a negative image in order to achieve their evil propaganda by misleading humanity.">
    <meta name="robots" content="noodp">
      <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="Rational Muslims Website">
    <meta itemprop="description" content="We are here to show the Non Muslims the real message of Islam which is Peace and Harmony, and why Mainstream media(MSM) always portray Islam and Muslims in a negative image in order to achieve their evil propaganda by misleading humanity.">
    <meta itemprop="image" content="http://localhost:8080/assets/img/rationalmuslims.svg">

        <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="We are here to show the Non Muslims the real message of Islam which is Peace and Harmony, and why Mainstream media(MSM) always portray Islam and Muslims in a negative image in order to achieve their evil propaganda by misleading humanity. -- Rational Muslims Website">
    <meta name="twitter:description" content="We are here to show the Non Muslims the real message of Islam which is Peace and Harmony, and why Mainstream media(MSM) always portray Islam and Muslims in a negative image in order to achieve their evil propaganda by misleading humanity.">
    <meta name="twitter:creator" content="@tamimburaaq">
    <!-- Twitter Summary card images must be at least 120x120px -->
    <meta name="twitter:image" content="http://localhost:8080/assets/img/rationalmuslims.svg">
    <!-- You can use open graph tags to customize link previews.
Learn more: https://developers.facebook.com/docs/sharing/webmasters -->
    <meta property="og:title" content="Rational Muslims Website" />
    <meta property="og:description" content="We are here to show the Non Muslims the real message of Islam which is Peace and Harmony, and why Mainstream media(MSM) always portray Islam and Muslims in a negative image in order to achieve their evil propaganda by misleading humanity." />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://localhost:8080/" />
    <meta property="og:image" content="http://localhost:8080/assets/img/rationalmuslims.svg" />
    <meta name="twitter:card" content="summary_large_image">
    <title>Media vs Islam</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/sandstone/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lusitana">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500&amp;subset=cyrillic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="http://localhost:8080/assets/css/styles.css">

    <link rel="icon" type="image/gif" href="assets/img/info.png" />
    <link rel="canonical" href="http://localhost:8080" />
    <link rel="stylesheet" href="assets/css/header.css">
    <link rel="stylesheet" href="assets/css/footer.css">
</head>

<body>
  <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.11';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
    <header>
        {% include "./common/header.html" %}
    </header>
    <div class="container bottom-space">
        <div class="jumbotron">
            <div>
                <h1 class="text-center">Rational Muslims Website</h1></div>
            <p>We are here to show the Non Muslims the real message of Islam which is Peace and Harmony, and why Mainstream media(MSM) always portray Islam and Muslims in a negative image in order to achieve their evil propaganda by misleading humanity.</p>
        </div>
        <div class="sharethis-inline-share-buttons"></div>

    </div>
    <div class="container blog-list">
        <div>
                    <div class="blog-container">
          {% for items in list %}
            <div class="background-color border-styling">
                <div class="row">
                    <div class="col-md-12">
                        <header>
                            <h3 id="animate-myth-1" class="blog-heading"><strong>{{items.title}}</strong></h3></header>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 align-center-div">
                      {% if items.isItContentfulArticle %}
                          <a href="article/{{items.slug}}.html" target="_blank"><img class="img-responsive" src="{{items.imageFileUrl}}?w=300&h=300" /></a>
                        {% else %}
                          <a href="/{{items.slug}}" target="_blank"><img class="img-responsive" src="{{items.imageFileUrl}}?w=300&h=300" /></a>
                         {% endif %}
                    </div>
                    <div class="col-md-8">
                      <p class="blog-section">{{items.description}}</p>
                      {% if items.isItContentfulArticle %}
                      <div class="row">
                          <div class="col-md-3 col-md-offset-9"><a class="btn btn-default" role="button" href="article/{{items.slug}}.html" id="myth-button-1">LEARN MORE</a></div>
                      </div>
                      {% else %}
                      <div class="row">
                          <div class="col-md-3 col-md-offset-9"><a class="btn btn-default" role="button" href="{{items.slug}}" id="myth-button-1">LEARN MORE</a></div>
                      </div>
                       {% endif %}
                    </div>
                </div>
            </div>
              {% endfor %}
    </div>
        </div>

        <div>
            <button onclick="topFunction()" id="mytopbutton" title="Go to top">Top</button>
        </div>
    </div>
    <footer>
      {% include "./common/footer.html" %}
    </footer>

</body>

</html>
